<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid m-0 p-0 body-content">
        <section class="d-flex flex-wrap min-vh-75 bg-primary">
            <!-- NỘI DUNG CHÍNH -->
            <div class="col-md-8 col-lg-9 col-12 p-4 bg-white shadow-sm rounded-start order-1 order-md-2">
                @RenderBody()
            </div>
            <aside class="col-md-4 col-lg-3 col-12 text-white p-3 shadow-sm border-top order-2 order-md-1" style="background: #071A2B;">
                <h5 class="text-start mb-3 pb-2 border-bottom border-secondary">Tìm kiếm</h5>

                <!-- TÌM KIẾM  -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm...">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

                <!-- DANH SÁCH Dây Chuyền Sản Xuất -->
                <h5 class="text-start mb-3 pb-2 border-bottom border-secondary mt-5">Danh sách dây chuyền sản xuất</h5>

                @Html.Action("DayChuyenPartial", "QuanLyNhanVien", new { @class = "text-decoration-none text-white-50", id = "sp" })

            </aside>
        </section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
