@model IEnumerable<Chuong_3.Models.SinhVien>

@{
    ViewBag.Title = "Index";
}

<h2>Thông tin toàn bộ Sinh Viên</h2>

<!-- PHẦN TÌM KIẾM -->
    <div class="col-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm"/>
            <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
        </div>
    </div>

<!-- LINK THEO THÔNG TIN SẮP XẾP, 3 GIÁ TRỊ CÓ TUỔI LỚN NHẤT, ...-->
    <p class="mt-3">
        @Html.ActionLink("Thêm SV", "Create", null, new { @class = "text-decoration-none" })
        @Html.ActionLink("All Sinh Viên", "Index", null, new { @class = "text-decoration-none ms-3" })
        @Html.ActionLink("Sắp xếp Tăng theo tuổi", "XapSepTang", null, new { @class = "text-decoration-none ms-3"})
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLop)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaSV }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSV }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaSV })
            </td>
        </tr>
    }

</table>
