
@{
    ViewBag.Title = "HienThi";
}
@model Chuong1.Models.TinhLuong

<h2>Thông Tin Nhân Viên</h2>
@Html.DisplayFor(model => model.MaNV)
@Html.DisplayFor(model => model.TenNV)
@Html.DisplayFor(model => model.LuongCoBan)
@Html.DisplayFor(model => model.HeSoLuong)
@Html.DisplayFor(model => model.TinhLuongThucLinh)

