@model IEnumerable<Chuong_3.Models.MayTinh>

@{
    ViewBag.Title = "GiaThap";
}

<h2>GiaThap</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaMay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDongMay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySanXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangSanXuat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaMay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDongMay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangSanXuat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
